html,body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /* background-color: black; */
}





@keyframes b-animation {
  0% {

    box-shadow: 0 0 8px 6px black;
  }
  66.6%{
    box-shadow: 0 0 8px 6px white;
  }
  100%{
    box-shadow: 0 0 8px 6px black;
  }
}

#circle{
  width:300px;
  height:300px;
  border-radius: 50%;
  /* background-color: black; */
  /* position:absolute;
  top:27%;left:36%; */
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: b-animation;
  animation-duration: 6s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-iteration-count: infinite;
  transition:  300ms ease-in;
}

@keyframes a-animation {
  0% {
    font-size: 48px;
    color: black;

  }
  66.6%{
    font-size: 52px;
    color:white;
  }
  100%{
    font-size: 48px;
    color:black;
  }

}

#second{
  font-size: 48px;
  animation-name: a-animation;
  animation-duration: 6s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-iteration-count: infinite;

}
#slider{
  display: block;
  position:absolute;
  bottom:10%;right:10%;
}
